@model MVC_Schedule_Review.Models.About

@{
    ViewBag.Title = "About Sooners football";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>OU Football is coached by <b>@(Model.HeadCoach).</b>  The sooners have a bowl record of <b>@Model.BowlRecord</b> and have <b>@Model.NationalTitles</b> in their history.  </p>
